* {
  font-family: 'Poppins', sans-serif;
  color: #3a3a3a;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 100px;
}

.hamburger {
  align-items: flex-end;
}

.shop-icon {
  font-size: 30px;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.about > h2 {
  padding: 10px;
}

h1 {
  text-align: center;
}
h2 {
  margin: 5px;
}

.nav-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

li {
  padding-left: 25px;
  padding-right: 25px;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

a:hover {
  color: #6d6d6d;
}

a {
  text-decoration: none;
  color: #3a3a3a;
  list-style: none;
}

.products {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.productdetails {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.productdetails > p,
h2 {
  font-size: 15px;
  text-align: left;
  padding-left: 15px;
  margin: 0;
}
.productdetails > p {
  font-size: 13px;
}
.product {
  margin: 15px 15px 0px 15px;
  background-color: #f1f1f1;
  width: 210px;
  height: 210px;
}

.additem {
  padding: 9px 30px 9px 30px;
  border: 2px solid #333;
  border-radius: 0px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #333;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  margin-bottom: 23px;
}

.additem:hover {
  background-color: #333;
  color: white;
}

.logo {
  height: 85px;
}

.cart-images {
  width: 75px;
  height: 75px;
}

.cart-items {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 20px;
}

.cart-items > p {
  font-size: 15px;
}

.cart-count {
  margin-left: 28px;
  font-size: 10px;
  justify-content: center;
  color: white;
  display: flex;
  align-items: center;
  height: 1px;
  width: 1px;
  position: absolute;
  background-color: #f33c2a;
  padding: 9px;
  border-radius: 50%;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 15px;
}

h4,
.item-content > p {
  margin: 0;
}

.total-button {
  padding-top: 25px;
}

.total-button > button {
  margin-top: 10px;
}

.quantity {
  margin-left: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

.quantity-box {
  display: flex;
  align-items: center;
}

.remove-item {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.remove-item > button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 38px;
  width: 38px;
  background-color: rgba(0, 0, 0, 0);
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  font-size: 11px;
}

.remove-item > button:hover {
  cursor: pointer;
  background-color: #333;
  color: white;
}

.cart-icon {
  cursor: pointer;
}

.store-item {
  margin: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.proceed {
  padding: 9px 30px 9px 30px;
  border: 2px solid #333;
  border-radius: 0px;
  cursor: pointer;
  background-color: #333;
  color: white;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  margin-bottom: 10px;
}

.proceed:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #333;
}

.continue {
  padding: 9px 30px 9px 30px;
  border: 2px solid #333;
  border-radius: 0px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #333;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  margin-left: 10px;
}

.continue:hover {
  background-color: #333;
  color: white;
}

.shop {
  margin: 0;
  font-size: 25px;
  border-bottom: 1px solid #e9e9e9;
}

.alpha > img {
  width: 600px;
}

.alpha {
  margin-top: 50px;
  padding: 25px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.alpha > h1 {
  font-size: 25px;
}

.alpha > h1,
p {
  padding: 0;
  margin: 0;
  text-align: left;
}

.chad-clothing {
  margin: 0;
  padding: 0;
  text-align: left;
}

.alpha-content {
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
}

.alpha-content > p {
  padding-bottom: 10px;
}

.start-shopping {
  padding: 9px 30px 9px 30px;
  border: 2px solid #333;
  border-radius: 0px;
  cursor: pointer;
  background-color: #333;
  color: white;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  width: 200px;
}

.start-shopping:hover {
  color: #333;
  background-color: rgba(0, 0, 0, 0);
}
